* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
img {
  width: 25rem;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 35, 54);
  border-radius: 0px 0px 24px 24px;
  border: 1px solid rgba(63, 60, 60, 0.227);
}
header a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: center;
  background-color: rgb(3, 35, 54);
  border-radius: 24px 24px 0px 0px;
}
h1 {
  color: whitesmoke;
  padding: 25px;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 100px;
  padding: 12px;
  background-color: whitesmoke;
  border-radius: 24px 24px 0px 0px;
}
nav li {
  font-weight: bolder;
  color: rgb(3, 35, 54);
  font-weight: bolder;
  transition: 0.5s;
  padding: 5px 15px;
}
nav li:hover {
  background: rgb(3, 35, 54);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px rgb(3, 35, 54);
  color: whitesmoke;
  border-radius: 24px 0px 24px 0;
}
.container {
  /* border: solid yellowgreen 3px; */
  display: flex;
  justify-content: center;
  padding: 25px;
  gap: 30px;
}
.izquierda {
  border: 1px solid rgba(63, 60, 60, 0.227);
  border-radius: 24px;
  background-color: whitesmoke;
}
.izquierda:hover,
.derecha:hover {
  background-color: rgb(3, 35, 54);
  color: #f3f3f3;
}
.izquierda p {
  padding: 0px 10px 10px 10px;
}
.derecha {
  border: 1px solid rgba(63, 60, 60, 0.227);
  border-radius: 24px;
  background-color: whitesmoke;
}
.derecha p {
  padding: 0px 10px 10px 10px;
}
.info_iz_img {
  text-align: center;
  padding: 20px;
}
.info_iz_img img {
  width: 400px;
  height: 225px;
  border-radius: 24px;
}
.info_der_img {
  text-align: center;
  padding: 20px;
}
.info_der_img img {
  width: 400px;
  border-radius: 24px;
}
.viota_topics {
  display: flex;
  padding: 25px;
}
.viota_general {
  border: 1px solid rgba(63, 60, 60, 0.227);
  border-radius: 24px;
  background-color: whitesmoke;
  display: flex;
  gap: 35px;
  padding: 20px 20px 10px 20px;
}
.viota_general:hover {
  background-color: rgb(3, 35, 54);
  color: whitesmoke;
}
.cont_topics_img {
  text-align: center;
}
.cont_topics_img img {
  border-radius: 24px;
}
.cont_topics_img button {
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(3, 35, 54);
  border: 2px solid whitesmoke;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 5px;
}
.cont_topics_img button:hover {
  background: whitesmoke;
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px whitesmoke;
  color: rgb(3, 35, 54);
  border-radius: 24px 0px 24px 0;
}
.cont_topics_parr ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.cont_topics_parr {
  display: flex;
}
.card_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  border: 1px solid rgba(63, 60, 60, 0.227);
  border-radius: 24px;
  background-color: whitesmoke;
  margin: 20px;
}
.card_container:hover {
  background-color: rgb(3, 35, 54);
}
.card {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 20px;
}
.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 0px 35px rgb(3, 35, 54);
}
.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: whitesmoke;
  padding: 5px;
  color: rgb(3, 35, 54);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.card .back .link {
  border-top: solid 1px rgb(3, 35, 54);
  height: 50px;
  line-height: 50px;
}
.card .back .link a {
  color: rgb(3, 35, 54);
}
.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.card .back p {
  letter-spacing: 1px;
}
.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
  box-shadow: 0 0 35px whitesmoke;
}
/*! boton ir arriba */
#ir_arriba {
  position: sticky;
  width: 50px;
  height: 50px;
  top: 90%;
  left: 90%;
  transform: rotate(180deg);
  /* colores y fondos */
  background-color: black;
  box-shadow: 0 0 35px black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ir_arriba a {
  text-decoration: none;
  color: whitesmoke;
  padding: 20px;
}
#ir_arriba:hover {
  transition: 300ms;
  border-radius: 24px 0px 24px 0px;
  box-shadow: 0 0 35px whitesmoke;
}

/* responsive */

@media (max-width: 1000px) {
  #ir_arriba {
    border-radius: 50%;
  }
}
/*! estilos FOOTER  */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 35, 54);
  border-radius: 24px 24px 0px 0;
  color: whitesmoke;
  font-size: small;
}
.principal_footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.contact_izq {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact_der {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.cont_social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont_social img {
  width: 30px;
  border-radius: 10px 0 10px 0px;
  transition: 0.5s;
}
.cont_social img:hover {
  width: 50px;
  cursor: pointer;
}
.copy {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: small;
}
